<nav class=" header">
    <div class="">
        <a href="/"><h1 class="header__logo">TimeNews</h1></a>
        <p>Your number News Page</p>
    </div>
    <div class="header__nav">

        <ul>
            <li><a href="/">News</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Add News</a></li>
        </ul>
    </div>
</nav>