<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="container">
        <%- include('./partials/nav') %>

        <div class="blogs-content">
            <h2>Contact Us</h2>
    
        </div>
        <%- include('./partials/footer') %>
    </div>

</body>
</html>